.content {
    margin-top: 50px;
}

/* begin add-appointment.html */
.appointment-form-container {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 60px;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 700px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* end add-appointment.html */


/* begin appointments.html */
#appointment-container {
    width: 100%;
    margin: 0 auto;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.button {
    margin: 0;
    right: 50%;
}
.add-appointment-btn {
    width: 250px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #62929E;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.appointment-card-header {
    margin-left: 150px;
}
.header-styling {
    padding-right: 60px;
}
.appointment-card {
    margin-left: 225px;
    border: 1px #F0F0F0 solid;
    max-width: 70%;
    font-size: 17px;
}
.appointment-styling, .appointment-styling ul {
    display: inline-block;
}
.appointment-styling li {
    width: 120px;
}
.extra-padding {
    padding-right: 50px;
}
.appointment-styling > li:last-child {
    color: #FF3333;
    text-decoration: underline;
    cursor: pointer;
    right: 20%;
    position: absolute;
}
.delete {
    color: #FF3333;
    text-decoration: underline;
    cursor: pointer;
    right: 15%;
    position: absolute;
}
/* end appointments.html */

