#welcomeText {
    font-size: 23px;
}


/* begin grid settings (for main and right sidebar) */
.layout-container {
    display: flex;
}
main {
    flex: 3.5;
}
aside {
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 15px 35px 35px 35px;
    margin-top: 15px;
    width: 200px;
    margin-bottom: 150px;
}
/* end grid settings */


/* begin notes sidebar */
.sidebar-title {
    font-size: 20px;
}
.submit-note {
    background-color: #62929E;
    border: none;
    color: white;
    width: 100px;
    height: 30px;
}
.notes-styling {
    word-break: break-all;
    white-space: normal;
    max-width: 170px;
}
.delete-note {
    color: #FF3333;
    padding-left: 25px;
    text-decoration: underline;
}
/* end notes sidebar */