

/* begin cats.html */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 85px;
}
.button {
    margin: 0;
    right: 50%;
}
.add-cat-btn {
    width: 250px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #62929E;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
/* end cats.html */